:root {
  background-color: white;
}

.Header {
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.imgHeader {
  height: 45px;
  border-radius: 4px;
  cursor: pointer;
}

.HeaderTitle {
  flex: 2;
  display: flex;
  justify-content: center;
  margin-right: 112px;
  font-weight: bold;
  color: white;
}

.buttonsHeader {
  height: 70px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonHeader {
  margin-left: 30px;
  margin-right: 30px;
  height: 40px;
  width: 150px;
  border-radius: 5px;
  border: none;
  background-color: #ed1d24;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.home {
  color: white;
}

.inputCard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.inputSearch {
  height: 30px;
  width: 250px;
  text-align: center;
  border-radius: 5px;
  background-color: black;
  color: #ed1d24;
}

.buttonLimit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.activited {
  background-color: #ed1d24;
  border-radius: 5px;
  height: 30px;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  border: solid 2px #ed1d24;
  font-weight: bold;
  cursor: pointer;
}

.unactivited {
  background-color: black;
  height: 30px;
  border-radius: 5px;
  color: #ed1d24;
  margin-left: 20px;
  margin-right: 20px;
  border: solid 2px #ed1d24;
  font-weight: bold;
  cursor: pointer;
}
